body {
  font: 100% Verdana, Arial, Helvetica, sans-serif;
  background: #fafafa;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
}

@media (max-width: 300px) {
  .oneColFixCtrHdr #container {
    width: 50%;
    height: 1200px;
    background: #fafafa;
    margin: 15px auto;
    margin-left: 0;
    margin-right: 50%;
    border: 1px solid #fafafa;
    text-align: left;
  }
}

.oneColFixCtrHdr #container {
  width: 780px;
  height: 1200px;
  background: #fafafa;
  margin: 15px auto;
  border: 1px solid #fafafa;
  text-align: left;
}

.oneColFixCtrHdr #mainContent {
  padding: 0 20px;
  background: #fafafa;
  position: relative;
}

.oneColFixCtrHdr #footer {
  padding: 0 10px;
  background: #DDDDDD;
}

.oneColFixCtrHdr #footer p {
  margin: 0;
  padding: 10px 0;
}

form.form {
  width: 600px;
  margin: 0 auto;
}

form.form div {
  padding: 7px;
  margin: 4px 0;
  position: relative;
}

form.form input.text, .textarea {
  padding: 5px 10px;
  height: 20px;
  border: 1px solid #ddd;
  color: #333;
  background: url(images/bginput.jpg) repeat-x bottom #fff;
  position: relative;
  z-index: 2;
  font-size: 16px;
}

form.form input.text {
  width: 290px;
}

form.form .textarea {
  height: 150px;
  width: 290px;
}

form.form label {
  float: left;
  width: 120px;
  text-align: right;
  margin-right: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #666;
  font-size: 13px;
}

form.form .btn {
  display: block;
  height: 31px;
  padding: 0 10px;
  background: url(images/bgbtn.jpg) repeat-x;
  color: #565e62;
  font-weight: bold;
  font-size: 12px;
  border: 1px solid #e1e0df;
  outline: none;
  cursor: pointer;
}

form.form .btn, form.form .text, form.form .textarea {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

div.error_field {
  background: #FEDAFB;
  border: 1px solid #FA74F0;
}

div.errors {
  width: 580px;
  margin: 15px auto;
  padding: 10px;
  border: 1px solid #ccc;
  background: #FDFEC2;
}

div.errors .error {
  color: red;
  font-weight: bold;
  font-size: 12px;
  margin: 5px;
}

